<header class="top-header">
  <div class="flex items-center gap-4">
    <span class="logo-text">MarketPay Gestion</span>
    <div class="header-nav-links">
      <a class="nav-link-top active" href="#">Panel de Control</a>
      <a class="nav-link-top" href="#">Mercados</a>
      <a class="nav-link-top" href="#">Analíticas</a>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <div class="search-wrapper">
      <span class="material-symbols-outlined search-icon">search</span>
      <input class="search-input" placeholder="Buscar..." type="text"/>
    </div>
    <button class="material-symbols-outlined icon-btn">notifications</button>
    <button class="material-symbols-outlined icon-btn">help</button>
    <div class="user-avatar">N</div>
  </div>
</header>

<nav class="sidebar-nav">
  <div class="sidebar-profile">
    <h2 class="admin-name">MarketPay Admin</h2>
    <p class="admin-role">Regional Controller</p>
  </div>

  <div class="sidebar-links">
    <a class="menu-link active" routerLink="/dashboard">
      <span class="material-symbols-outlined icon-fill">dashboard</span>
      <span>Panel</span>
    </a>
    <a class="menu-link" href="#">
      <span class="material-symbols-outlined">history</span>
      <span>Socio</span>
    </a>
    <a class="menu-link" href="#">
      <span class="material-symbols-outlined">storefront</span>
      <span>Puestos</span>
    </a>
    <a class="menu-link" href="#">
      <span class="material-symbols-outlined">history</span>
      <span>Deudas</span>
    </a>
    <a class="menu-link" routerLink="/admin/pagos" routerLinkActive="link-active">
      <span class="material-symbols-outlined">payments</span>
      <span>Pagos</span>
    </a>
    <a class="menu-link" href="#">
      <span class="material-symbols-outlined">assessment</span>
      <span>Reportes</span>
    </a>
  </div>

  <div class="sidebar-footer">
    <button class="btn-new-trans">
      <span class="material-symbols-outlined text-sm">add</span>
      <span>Nueva Transaccion</span>
    </button>

    <a class="footer-link hover-blue" href="#">
      <span class="material-symbols-outlined">contact_support</span>
      <span>Soporte</span>
    </a>

    <a class="footer-link hover-red" href="#">
      <span class="material-symbols-outlined">logout</span>
      <span>Salir</span>
    </a>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
